body{
    font-family: sans-serif;
    background-color: #e4e3e3;
    margin: 0;
}
header{
    color: white;
    background-color: #333;
    padding: 10px 0px;
    text-align: center;
}
.container{
    margin: 20px;
    display: flex;
}
main{
    flex: 3;
    background: white;
    padding: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 75px;
}
aside{
    flex: 1;
    background: white;
    border-radius: 20px;
    text-align: start;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 75px;
}
aside h3{
    margin-left: 10px;
    text-align: start;
}
aside h2{
    text-align: center;
}
aside p{
    text-align: center;
}
aside a{
    text-align: start;
    margin: 0 10px;
    list-style-type: none;
    text-decoration: none;
    font-size: 15px;
}
aside a:hover{
    text-decoration: underline;
}
.fa-solid {
    margin-left: 10px;
}
footer{
    color: white;
    background-color:#333;
    padding: 10px;
    text-align: center;
    /* border-radius: 10px; */
}
.card{
    display: flex;
    justify-content: space-around;
}
.card p {
    font-size: 12px;
}
.card button{
    border:none;
    border-radius: 20px;
    padding: 9px;
    background-color:#03344C;
    color: white;
}
.aba{
    padding: 25px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 200px;
    transition: 0.2s;
}
.tax{
    padding: 25px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 200px;
    transition: 0.2s;
}
.payroll{
    padding: 25px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 200px;
    transition: 0.2s;
}
.aba img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}
.tax img{
    width: 100px;
    border-radius: 100%;
    object-fit: cover;

}
.payroll img{
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}
.aba:hover{
    box-shadow: 0 10px 10px rgba(238, 5, 5, 0.6);
    background-color:rgb(241, 241, 84);
    transform: translateY(-10px);
}
.tax:hover{
    box-shadow: 0 10px 10px rgba(238, 5, 5, 0.6);
    background-color:rgb(241, 241, 84);
    transform: translateY(-10px);
}
.payroll:hover{
    box-shadow: 0 10px 10px rgba(238, 5, 5, 0.6);
    background-color:rgb(241, 241, 84);
    transform: translateY(-10px);
}
button:hover{
    background-color: orangered;
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
     
}
.card-port{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.bakong{
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.taxa{
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.pay{
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.bakong:hover{
    box-shadow: 0 10px 10px rgba(238, 5, 5, 0.6);
    background-color:rgb(241, 241, 84);
    transform: translateY(-10px);
}
.taxa:hover{
    box-shadow: 0 10px 10px rgba(238, 5, 5, 0.6);
    background-color:rgb(241, 241, 84);
    transform: translateY(-10px);
}
.pay:hover{
    box-shadow: 0 10px 10px rgba(238, 5, 5, 0.6);
    background-color:rgb(241, 241, 84);
    transform: translateY(-10px);
}
.pay img{ 
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.taxa img{
    border-radius: 10px;
    width: 200px;
    object-fit: cover;
}
.bakong img{
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    width: 200px;
}
.header{
    padding: 20px 5%;
    background: #333;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 700;
    transition: 0.2s ease;
    text-decoration: none;
}
.logo :hover{
    color: yellow;
    text-shadow: 0 0 25px white,
                 0 0 50px white;
    transform: scale(1,1);
    transition: 0.2s;
}
.navbar a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin:0 20px ;
    transition: 0.3 ease;
    text-decoration: none;
    font-size: 18px;
}
.navbar a:hover{
    color:yellow;
    border-bottom: 3px solid orangered;
}